@font-face{
    src: url("./assets/fonts/PRELO-BL.ttf");
    font-family: "Prelo Black";
}

@font-face{
    src: url("./assets/fonts/PRELSELI.ttf");
    font-family: "Prelo Italico";
}

@font-face{
    src: url("./assets/fonts/PRELO-LI.ttf");
    font-family: "Prelo Light";
}

@font-face{
    src: url("./assets/fonts/PRELOSL1.ttf");
    font-family: "Prelo Bold";
}

@font-face{
    src: url("./assets/fonts/PRELOSL2.ttf");
    font-family: "Prelo Book";
}

@font-face{
    src: url("./assets/fonts/PRELO-EB.ttf");
    font-family: "Prelo Extra Bold";
}

body{
    font-family: 'Prelo Light' !important;
}

a:hover{
    text-decoration: none !important;
}

.logo {
    max-width: 220px;
    margin-top: -10px;
}

.woocommerce-MyAccount-navigation ul li.woocommerce-MyAccount-navigation-link--downloads{
    display: none;
}

a{
    outline: none !important;
    outline: 0 !important;
    border: none;
}

.link-top a{
    color: #dc1879;
    font-family: 'Prelo Black';
    font-size: 13px;
    font-weight: bold !important;
}
.link-top .right a{
    float: right;
    margin-right: 15px;
}

.link-top a:hover{
    text-decoration: none;
    color: #be0a60;
}

.main-navigation ul.menu>li>a,
.main-navigation 
ul.nav-menu>li>a {
    padding: 0px 1em !important;
}

.site-header {
    border-bottom-color: #be0a60 !important;
    padding-bottom: 0 !important;
}

.main-navigation ul.nav-menu>li>a:hover {
    background-color: #fff;
    border-radius: 10px 10px 0px 0px;
    background-color: #e8e223 !important;
    text-decoration: none !important;
}


.woocommerce-active .site-header 
.main-navigation {
    width: 73.9130434783%;
    float: left;
    margin-right: 4.347826087%;
    clear: both;
    max-height: 40px;
    color: #fff !important;
}

.storefront-primary-navigation {
    max-height: 40px !important;
    background-color: #dc1879;
    clear: both;
    vertical-align: middle;
}

.site-header-cart .cart-contents {
    padding: 0.118em 0 !important;
    float: right;
}

.site-header-cart .cart-contents .count {
    opacity: unset !important;
    width: 15px;
    height: 15px;
    background-color: #e2e53e;
    color: #fff;
    border-radius: 100%;
    margin-left: -15px;
    padding: 0px 5px 0px 5px;
}

.widget_product_search form input[type=search], 
.widget_product_search form input[type=text], 
.widget_search form input[type=search], 
.widget_search form input[type=text] {
    background-color: #fff !important;
    width: 369% !important;
}

.woocommerce-active 
.site-header 
.site-search {
    width: 21.7391304348%;
    float: none;
    margin-right: 0;
    clear: none;
}

.nav-menu li a {
    color: #fff !important;
    text-transform: uppercase;
    font-weight: bold;
}

.nav-menu li a::after{
    content: url('./assets/images/arrow-down.png');
    padding: 5px 10px;
}

.site-header .col-full {
    max-width: 66.4989378333em;
    margin-left: auto;
    margin-right: auto;
    padding: 0 2.617924em;
    box-sizing: content-box;
    display: flex;
}

ul.products li.product.product-category 
.woocommerce-loop-category__title, ul.products 
li.product.product-category h2, 
ul.products li.product.product-category h3 {
    font-size: 1.1em;
    display: none;
}

.storefront-product-section .section-title {
    text-align: left !important;
    margin-bottom: 1em;
    font-weight: bold !important;
    font-size: 23px !important;
    color: #be0a60 !important;
    font-family: 'Prelo Black';
}

.storefront-product-section.storefront-product-categories{
    background-color: #e8e223 !important;
    width: 100% !important;
    min-height: 500px;
    z-index: 999 !important;
}

.storefront-product-section.storefront-product-categories .woocommerce{
    width: 100%;
}

.storefront-product-section.storefront-product-categories ul.products li.product {
    margin-top: 8% !important;
    width: 32% !important;
    margin-right: 0.5em;
    margin-left: 0.5em;
}

.woocommerce-active .site-header .site-header-cart {
    width: 13.73913% !important;
    float: right !important;
    margin-right: 100px !important;
    margin-bottom: 0;
    margin-top: -85px;

}

.carriho {
    position: relative;
    margin-top: -85px !important;
}

.site-header-cart .cart-contents::after {
    content: '' !important;
}

.site-header-cart .cart-contents::before {
    content: url(./assets/images/icon-cart.png) !important;
}

.news-latter{
    width: 100%;
    min-height: 100px;
    background-color: #f21984;
    
}

.news-latter .line-news-latter{
    margin-top: 2em;
}

.formas-pgto h4{
    font-family: 'Prelo Black' !important;
    font-size: 18px;
}

.aviso h5{
    font-family: 'Prelo Italico';
    color: #ccc;
    margin: auto;
    font-size: 18px;
    padding: 10px;
}

.news-latter h3{
    font-family: 'Prelo Black';
    color: #fff;
}

.row-links-footer{
    width: 100%;
    min-height: 220px;
    background-color: #dc1879;
    padding: 10px;
}

.row-links-footer h4{
    font-family: 'Prelo Black';
    color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-size: 18px;
}

.row-links-footer a{
    font-family: 'Prelo Light';
    color: #fff;
    font-size: 14px;
}

.row-links-footer a:hover{
    color: #ccc;
    text-decoration: none;
}

.row-links-footer .icons a{
    width: 35px;
    height: 35px;
    margin: 2px;
    background-color: #fff;
    border-radius: 35px;
}

.row-links-footer .icons a img{
    width: 70%;
    vertical-align: middle;
    display: table-cell;
    padding-top: 15%;
    margin: auto;
}

.site-footer{
    background-color: #b71264 !important;
}

.links-footer-down a{
    font-family: 'Prelo Light';
    color: #fff !important;
    font-size: 14px;
}

.logo-negativo{
    width: 170px;
    height: 50px;
    background-image: url(./assets/images/logo-negativo.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.page-template-template-homepage-php .site-main ul.products.columns-3 li.product, .storefront-full-width-content .site-main ul.products.columns-3 li.product {
    margin-top: 8% !important;
}

.site-header-cart .cart-contents .amount {
    display: none;
}

/* Estilos dos Produtos */
ul.products li.product 
.woocommerce-loop-product__title, 
ul.products li.product h2, 
ul.products li.product h3{
    font-family: 'Prelo light';
}

.price > del{
    font-family: 'Prelo Light';
    font-size: 12px;
    color: #b71264;
}

ul.products li.product a span.price {
    display: block;
    color: #43454b;
    font-weight: 400;
    margin-bottom: 0 !important;
}

ul.products li.product 
.woocommerce-loop-product__title,
 ul.products li.product h2, 
 ul.products li.product h3 {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 0em !important;
}

.onsale {
    border-color: #dc1879 !important;
    color: #dc1879 !important;
    margin-bottom: 0 !important;
    display: none !important;
}

.price {
    margin-bottom: 0px !important;
    font-family: 'Prelo Extra Bold';
    font-size: 24px;
    margin-bottom: 0 !important;
}

ul.products li.product .button {
    margin-bottom: 0em;
    font-family: 'Prelo Light';
    background-color: #e2e53e;
    color: #fff;
}

.storefront-breadcrumb {
    background-color: #b71264 !important;
    color: #fff !important;
}

.storefront-full-width-content .woocommerce-products-header h1:last-child, .storefront-full-width-content.woocommerce-account .entry-header h1:last-child, .storefront-full-width-content.woocommerce-cart .entry-header h1:last-child, .storefront-full-width-content.woocommerce-checkout .entry-header h1:last-child {
    margin-bottom: 0;
    font-family: 'Prelo Black';
    text-transform: uppercase;
    font-size: 18px !important;
    color: #dc1879;
    float: left;
}

.widget_shopping_cart .buttons a:last-child {
    margin-bottom: 0;
    background-color: #e2e53e !important;
    font-family: 'Prelo Light';
}

.wc-forward::after, .woocommerce-Button--next::after{
    content: '' !important;
}

.woocommerce-breadcrumb a, a.woocommerce-review-link, .product_meta a {
    color: #fff !important;
}

/* Página de Checkout */
.col-md-12 p.form-row{
    width: 100% !important;
}

.col-md-12 p.form-row span.woocommerce-input-wrapper{
    width: 100%;
}

.col-md-12 .woocommerce-billing-fields h3, h3#order_review_heading, h3#ship-to-different-address{
    font-family: 'Prelo Extra Bold' !important;
    color: #be0a60 !important;
    text-transform: uppercase !important;
    font-size: 18px;
}

.col-md-12 .woocommerce-billing-fields label, .woocommerce-shipping-fields label{
    font-family: 'Prelo Light' !important;
}

#customer_login h2{
    font-family: 'Prelo Extra Bold' !important;
    text-transform: uppercase;
    color: #be0a60 !important;
}

ul.products li.product button input[type="submit"], .button{
    background-color: #dc1879 !important;
    color: #fff !important;
    font-family: 'Prelo Light';
    border-radius: 10px !important;
}

.woocommerce-error .button, .woocommerce-info .button, .woocommerce-message .button, .woocommerce-noreviews .button, p.no-comments .button{
    background-color: transparent !important;
    background: transparent !important;
    border-radius: 0px !important;
}

h1.product_title{
    font-family: 'Prelo Extra Bold';
    font-size: 28px;
}

.woocommerce-tabs .panel h2:first-of-type {
    font-family: 'Prelo Extra Bold' !important;
    color: #be0a60 !important;
}

.woocommerce-tabs ul.tabs li a {
    font-family: 'Prelo Light';
}

p{
    font-family: 'Prelo Light';
}
.page .entry-header h1{
    font-family: 'Prelo Extra Bold' !important;
    color: #be0a60 !important;
    text-transform: uppercase;
    font-size: 24px;
}

.page .card{
    border: none;
}

.page .card .card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: transparent !important;
    border-bottom: 0px !important;
}

.page .card .card-body{
    font-family: 'Prelo Light';
    color: #666;
    margin-left: 10px;
}

.page .card .btn{
    line-height: 0px;
    color: #b71264;
    font-family: 'Prelo Extra Bold';
    font-size: 24px;
}

.page .card .btn.collapsed{
    color: #888;
}

.page .carousel-item h3.estado{
    color: #b71264;
    font-family: 'Prelo Extra Bold';
    font-size: 18px;
}

.page .carousel-item h5{
    color: #b71264;
    font-family: 'Prelo Extra Bold';
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    
}

.page .carousel-item h6{
    color: #888;
    font-family: 'Prelo Light';
    font-size: 14px;
    line-height: 14px;
    padding: 0;
    margin: 0;
    
}

.page .lojas h5{
    color: #dc1879;
    font-family: 'Prelo Light';
    font-size: 26px;
    line-height: 24px;
    padding: 0;
    margin: 0 0 10px 0;
    
}

.page .lojas h6{
    color: #888;
    font-family: 'Prelo Light';
    font-size: 22px;
    line-height: 22px;
    padding: 0;
    margin: 0;
    
}

.page .contato h5{
    color: #b71264;
    font-family: 'Prelo Extra Bold';
    font-size: 18px;
    line-height: 18px;
    padding: 0;
    margin: 0; 
    text-align: right;   
}

.page .contato .form-group label{
    font-family: 'Prelo Light';
    text-align: right;
}

.page .form-group label > span.requeride {
    color: red !important;
}

.error-404 h1{
    font-family: 'Prelo Extra Bold';
}

.main-navigation button.menu-toggle {
    background-color: transparent;
    border: 0;
    color: #fff;
    float: left;
}

@media (min-width: 768px){

    .storefront-primary-navigation {
        max-height: 40px !important;
        background-color: #dc1879;
        clear: both;
        vertical-align: middle;
    }
    .woocommerce-active 
    .site-header 
    .site-branding .logo{
        border: solid 2px #000000 !;
    }
    .woocommerce-active 
    .site-header 
    .main-navigation {
        width: 73.9130434783%;
        float: left;
        margin-right: 4.347826087%;
        clear: both;
        max-height: 40px;
    } 
    
    .main-navigation ul li, 
    .secondary-navigation ul li {
       max-height: 40px !important;
    }

    .main-navigation ul.menu>li>a, 
    .main-navigation ul.nav-menu>li>a {
        padding: 0px 1em !important;
    }

    .main-navigation ul.menu ul.sub-menu, 
    .main-navigation ul.nav-menu ul.children {
        background-color: #fff !important;
        border-bottom: solid 5px #e8e223;
        border-top: solid 5px #e8e223;
    }

    .main-navigation ul.menu ul li a, 
    .main-navigation ul.nav-menu ul li a {
        padding: .875em 1.41575em;
        font-weight: 400;
        font-size: .875em;
        color: #666 !important;
    }

    


}
