@font-face{
    src: url("./../fonts/PRELO-BL.ttf");
    font-family: "Prelo Black";
}

@font-face{
    src: url("./../fonts/PRELSELI.ttf");
    font-family: "Prelo Italico";
}

@font-face{
    src: url("./../fonts/PRELO-LI.ttf");
    font-family: "Prelo Light";
}

@font-face{
    src: url("./../fonts/PRELOSL1.ttf");
    font-family: "Prelo Bold";
}

@font-face{
    src: url("./../fonts/PRELOSL2.ttf");
    font-family: "Prelo Book";
}

@font-face{
    src: url("./../fonts/PRELO-ME.ttf");
    font-family: "Prelo Mediun";
}

@font-face{
    src: url("./../fonts/PRELO-EB.ttf");
    font-family: "Prelo Extra Bold";
}

@font-face{
    src: url("./../fonts/PRELO-SB.ttf");
    font-family: "Prelo Semi Bold";
}

*{
    margin: 0;
    padding: 0;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #fcfcfc;
}

.header ul.menu-top{
    font-family: 'Prelo Semi Bold';
    font-size: 13px;
    margin: auto;
    margin-top: 45px;
}

.header ul.menu-top li{
    display: inline;
    padding: 10px;
}

.header ul.menu-top li a{
    color: #697077;
}

.header ul.menu-top li a:hover{
    text-decoration: none;
    color: #888f96;
}

.content{
    width: 100%;    
}

.content .banner-top{
    width: 100%;
    min-height: 30em;
    background-image: url(./../img/bg-top.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.content .banner-top .text{
    margin: auto;
    text-align: center;
}

.content .banner-top .text h1.title{
    color: #fcfcfc;
    font-family: 'Prelo Black';
    font-size: 64px;
    text-align: center;
    margin-top: 30%;
    transform: translateY(-50%);
    line-height: 70px;
}

.content .banner-top .text h1.sub-title{
    color: #fcfcfc;
    font-family: 'Prelo Book';
    font-size: 64px;
    text-align: center;
    transform: translateY(-110%);
    line-height: 60px;
}

.content .banner-top .text a.btn{
    -webkit-box-shadow: 2px 2px 14px -3px rgba(0,0,0,0.28);
    -moz-box-shadow: 2px 2px 14px -3px rgba(0,0,0,0.28);
    box-shadow: 2px 2px 14px -3px rgba(0,0,0,0.28);
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}

.content .banner-top .text .btn-light{
    background-color: transparent !important;
    background: transparent !important;
    font-family: 'Prelo Mediun';
    color: #fff;
    border: solid 2px #fcfcfc;
    text-shadow: 2px 1px 2px rgba(150, 150, 150, 1);
}

.content .line-login{
    width: 100%;
    min-height: 5em;
    background-color: #dc1879;
}

.content .line-login h2{
    font-family: 'Prelo Extra Bold';
    color: #fff;
    font-size: 24px;
    margin-top: 1.2em;
    float: right;
}

.content .line-login .form-group  input, button.btn{
    margin-top: 1.5em;
}

.content .line-pedidos{
    width: 100%;
    min-height: 20em;
    margin-top: 4em;
}

.content .line-pedidos .col-md-6 img{
    line-height: 25em;
    float: right;
}

.content .line-pedidos h2{
    font-family: 'Prelo Black';
    color: #dc1879;
    font-size: 26px;
}

.content .line-pedidos p{
    font-family: 'Prelo Mediun';
    font-size: 16px;
    line-height: 28px;
    color: #666;
    width: 25em;
}

.content .line-pedidos a.btn{
    -webkit-box-shadow: 2px 2px 14px -3px rgba(0,0,0,0.28);
    -moz-box-shadow: 2px 2px 14px -3px rgba(0,0,0,0.28);
    box-shadow: 2px 2px 14px -3px rgba(0,0,0,0.28);

}

.content .line-pedidos .btn-light{
    background-color: transparent !important;
    background: transparent !important;
    font-family: 'Prelo Mediun';
    text-transform: uppercase;
    color: #888;
    border: solid 2px #888;
}

.content .line-bg-meio{
    width: 100%;
    min-height: 20em;
    background-image: url(./../img/bg-meio.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.content .line-meio{
    background-color: #dc1879;
    width: 100%;
    height: 12em;
}

.content .line-meio h2{
    font-family: 'Prelo Black';
    color: #fff;
    font-size: 40px;
    line-height: 40px;
    margin-top: 10%;
}

.content .line-meio p{
    font-family: 'Prelo Light';
    color: #fff;
    font-size: 18px;
    line-height: 24px;
    margin-top: 10%;
    width: 22em;
}

.content .line-forms{
    width: 100%;
    background-color: #fff;
    min-height: 30em;
}

.content .line-forms p{
    font-family: 'Prelo Mediun';
    color: #888;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
}

.content .line-forms .bloco{
    margin-top: 3em;
    margin-bottom: 3em;
}

.content .line-forms h2{
    font-family: 'Prelo Extra Bold';
    font-size: 24px;
    color: #dc1879;
    margin-top: 2em;
}

.form-group label{
    font-family: 'Prelo Mediun';
    color: #888;
}

.form-group label > span.requeride {
    color: red !important;
}

.content .line-pre-footer{
    width: 100%;
    height: 12em;
    background-color: #dc1879;
}

.content .line-pre-footer img{
    margin-top: 2.5em;
    float: right;
    margin-right: 1em;
}

.content .line-pre-footer h3{
    margin-top: 2em;
    font-family: 'Prelo Black';
    color: #fff;
    font-size: 24px;
}

.content .line-pre-footer p{
    font-family: 'Prelo Light';
    color: #fff;
}

.content .line-pre-footer input{
    margin-top: 4em;
}

.content .line-footer{
    width: 100%;
    height: 7em;
    background-color: #b71264;
}

.content .line-footer img{
    margin-top: 2.5em;
}

.content .line-footer h3{
    color: #fff;
    font-family: 'Prelo Black';
    float: right;
    font-size: 14px;
    margin-top: 2.5em;
}

.redes-sociais{
    float: right;
}

.redes-sociais .row{
    margin-top: -20px;
}

.redes-sociais ul{
    list-style: none;
    color: #fff;
    margin-top: -10px;
    margin-bottom: 0 !important;
}

.redes-sociais ul li{
    display: inline;
    text-decoration: none; 
}



